<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-7 mx-auto">
            <h3>Edit Car</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-7 mx-auto">
            <form th:action="@{/my-cars/update/{id}(id=${id})}" th:object="${car}" method="POST">
                <div class="form-group">
                    <label for="carManufacturer">Make</label>
                    <select class="form-control" th:field="${car.carManufacturer}" id="carManufacturer">
                        <option value="">Select Make</option>
                        <option th:each="carManufacturer: ${carManufacturers}" th:value="${carManufacturer.id}" th:text="${carManufacturer.name}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="model">Model</label>
                    <input class="form-control" type="text" th:field="*{model}" placeholder="Model" id="model">
                    <span class="text-danger" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model Error</span>
                </div>

                <div class="form-group">
                    <label for="registration-number">Registration Number</label>
                    <input class="form-control" type="text" th:field="*{registration}" placeholder="Registration Number" id="registration-number">
                    <span class="text-danger" th:if="${#fields.hasErrors('registration')}" th:errors="*{registration}">Registration Number Error<Error></Error></span>
                </div>

                <div class="form-group">
                    <label for="year">Year</label>
                    <input class="form-control" type="text" th:field="*{year}" placeholder="Year" id="year">
                    <span class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error<Error></Error></span>
                </div>

                <button type="submit" class="btn btn-success btn-lg btn-block btn-success mt-5">Save Changes</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
