<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container">
    <div class="row mt-3">
        <h3>My Cars</h3>
    </div>

    <div class="row mt-4">
        <a href="/my-cars/add-car" class="btn btn-success">Add New Car</a>

        <div th:unless="${cars} and ${cars.size()}" class="ml-2 mt-1">There are no cars! Add your first car!</div>

        <table th:if="${cars.size()>0}" class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>Registration Number</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th colspan="4">Actions</th>
                </tr>
            </thead>

            <tr th:each="car : ${cars}">
                <td th:text="${car.registration}"></td>
                <td th:text="${car.carManufacturer.name}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>

                <td><a class="btn btn-info" th:href="@{'/my-cars/'+${car.id}+'/schedule-appointment/'}">Schedule Service Appointment</a></td>
                <td><a class="btn btn-outline-warning" th:href="@{'/my-cars/edit/'+${car.id}}">Edit</a></td>
                <td><button type="button" class="btn btn-outline-danger" data-th-href="@{'/my-cars/delete/'+${car.id}}" data-toggle="modal" data-target="#confirm-delete">Delete</button></td>

                <td><a class="btn btn-link" th:href="@{'/my-cars/'+${car.id}+'/history'}">Show History</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to delete the car?</p>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-danger btn-ok">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).attr('href'));
    });
</script>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
