<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>
<link href="/css/login.css" rel="stylesheet" th:href="@{/css/login.css}"/>

<body class="text-center">

<form class="form-signin" name="login" th:action="@{/login}" method="post">
    <img class="mb-4" src="/img/logo.png" alt="" width="100">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <!-- Thymeleaf + Spring Security error display -->
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>

    <label for="username" class="sr-only">Username / Email</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username / Email" required="" autofocus="">

    <label for="password" class="sr-only">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©<span th:text="${#dates.year(#dates.createNow())}"></span> Copyright: Yavor Mihaylov - Car Service Project</p>
</form>
</body>
</html>